body {
    margin-top: 100px;
}
ul {
    padding: 0;
    margin-bottom: 0    ;
}
ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 3px;
}
li svg {
    height: 15px;
    width: 15px;
}
h1 {
    text-align: center;
}

input {
    border: none;
    width: 100%;
}
